.header{
   position: relative;
   background-color: white;
   height: 100px;
   z-index: -1;
   &__programmer-img{
      
      position: fixed;
      
      
      left: 25%;
      width: 50%;
      
      margin-top: -2%;
      @media (max-width: 768px) {
         width: 80vw;  
         left: 9%;
      }
         
   }
   


   &__contact-btn{
      position:fixed;
      z-index: 1;
      top:20px;
      right: 20px;
      
   }
}

