.menu{
   z-index: 0;
   position: fixed;
   
   width: 100vw;
   background-color: rgba(0, 0, 0, 0.8);
   border-bottom-right-radius: 100px;
   border-bottom-left-radius: 100px;
   color:white;
   transform: translateX(-100vw);
   transition: 0.5s;
   text-align: right;

   &__contact-btn {
      position: fixed;
      z-index: 1;    
      top: 20px;
      right: 40px;
      cursor: pointer;
      background: none;
      border: none;
      padding: 0;
      pointer-events: auto !important;  
   }
}

.menu-unslide{
   transform: translateX(0);
   transition: 0.5s;
   
}




